src/main/mule/dwpoc6.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e6f3b1b2-c379-4b3a-961e-1c6053af9e1c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dwpoc6Flow" doc:id="05985178-4fb1-4c36-8906-7690fc7c2c35" >
		<http:listener doc:name="Listener" doc:id="71006405-eb32-46df-9022-78b087c6dccf" config-ref="HTTP_Listener_config" path="/test"/>
		<ee:transform doc:name="Transform Message" doc:id="ace3cc0f-0f49-417d-9602-fa6a34c41277" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[5,7,4,9,-2,14] filter $<0]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="13dfe6fe-15a5-4778-8b1e-bef995d3c233" message="#[payload]"/>
	</flow>
</mule>
